body{
    margin: 0px;
   
} 

/*------------------------------------CUSTOM PAGE BACKGROUND // HEADER --------------------------*/
/*Img background adjust*/
.xMain{
    background-image: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/sung.jpg");
    background-color: black;
    height: 2500px;
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-right:0px ;
    margin-left: 0px;
   
}
/*standard sizing for content in header */
    .xHeader{
        height: 350px;
        max-width: 100%;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 30px 0px;
}

    /*Scrollbar custom*/
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #030101;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(49, 23, 23);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 25, 25);
  }

  /*Sizing mobile logo animesgoon div to fit*/
   .mainContent{
    background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/logotipo.png") no-repeat;  
    height: 150px;
    width: 200px; 
    
}
/*styling Search div input (div)*/
.searchDi{
    overflow: hidden;
    width: 100%;
  
   
}

  /*styling Search  input (div type text where is Search your favorite anime)*/
.searchDi input[type=text]{
    color: white;
    padding: 6px;
    border: none;
    background: black;
    font-size: 17px;
    opacity: 50%;
    width: 100%;
    border-radius: 20px;
  
   
}
/*styling Search  input (div type button(tho not is one, is a submit) anime)*/
.searchDi input[type=submit]{
position: absolute;
right: 0px;
top:5px;
height: 33px;
width: 28px;
background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/Search.png") no-repeat;
border-radius: 5px;
border: none;
background-size: 20px;
cursor: pointer;
font-size: '0';
}
/*styling Search  input (form)*/
.searchDi form{
    width: 100%;
    position: relative;
     
}


/*Sizing mobile logo div to fit*/
 .mainLogo{
    background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/mobileIcon.png") no-repeat;
    height: 50px;
    width: 50px;   
    cursor: pointer;
}

/*Sizing mobile logo Search*/
 .searchContentLogo{
    background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/Search.png") no-repeat;
    height: 35px;
    width:35px;
    cursor: pointer;
}

/*Sizing mobile logo Search 'X' when pressed*/
.active {
  background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/close.png") no-repeat;
  height: 30px;
  width: 30px;
  background-size: 25px;
  cursor: pointer;
}  


/*xHeader and sizing of the logoimg before pass 1024px*/
@media only screen and (max-width:1100px){ 
    .xHeader{
            height: 167px;
            max-width: 100%;
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            padding: 15px 0px;
            
    }
    .xMain{
        background-image: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/sung.jpg");
        background-color: black;
        height: 1500px;
        max-width: 100%;
        z-index: 1;
        position: relative;
        background-position: center;
        background-size:cover;
       
        
    }
    /*Sizing mobile logo animesgoon div to fit*/
  .mainContent{
        background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/logotipo.png") no-repeat;
        height: 150px;
        width: 190px; 
        background-size: 180px;
    }
  
 
    /*Sizing mobile logo div to fit*/
     .mainLogo{
        background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/mobileIcon.png") no-repeat;
        height: 40px;
        width: 40px;
    }
    /*Sizing mobile logo Search*/
     .searchContentLogo{
        background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/Search.png") no-repeat;
        height: 30px;
        width: 30px;
        background-size: 25px;
        cursor: pointer;
    }

    /*Sizing mobile logo Search 'X' when pressed*/
    .active{
      background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/close.png") no-repeat;
      height: 30px;
      width: 30px;
      background-size: 25px;
      cursor: pointer;
    }  

    /*styling Search div input (div)*/
    .searchDi{
        overflow: hidden;
        width: 100%;
      
       
    }

      /*styling Search  input (div type text where is Search your favorite anime)*/
    .searchDi input[type=text]{
        color: white;
        padding: 6px;
        border: none;
        background: black;
        font-size: 17px;
        opacity: 50%;
        width: 100%;
        border-radius: 20px;
      
       
    }

    /*styling Search  input (div type button(tho not is one, is a submit) anime)*/
    .searchDi input[type=submit]{
    position: absolute;
    right: 0px;
    top:2px;
    height: 33px;
    width: 28px;
    background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/Search.png") no-repeat;
    border-radius: 5px;
    border: none;
    background-size: 20px;
    cursor: pointer;
    font-size: '0';
    }

    /*styling Search  input (form)*/
    .searchDi form{
        width: 100%;
        position: relative;
         
    }
          /*Scrollbar custom*/
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #030101;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(49, 23, 23);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 25, 25);
  }
  /*-----------------------------------*/

  /* menu appear when pressed three bar style div*/
  .menuMain{
    box-sizing: border-box;
    padding: 5px;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 100%;
    color: white;
    background-color: rgb(41, 42, 48, 1);
    opacity: 95%;
    
  }
  .menuMain a, .menuMain p{
    height: 20px;
    color: white;
    text-decoration:none;
    margin: 0px;
    width: 40px;
    cursor: pointer;
  }
 /*-----------------------------*/

 /*subMenu genres*/ 
 /* letter X will apear alongside when clicked */
 .activ, .activNews{
    cursor: pointer;
    background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/close.png") no-repeat;
    height: 20px;
    width: 45px;
    background-size: 20px;
    float: right;
  }
  
  /*Text typed Genre will disappear when clicked in p element for only letter X appear */
  .xclose, .xcloseNews{
    display: none;
}
/*---------------*/

.menuGen, .deleteTxt, .menuNews, .deleteTxtNew {
  width: 45px;
}


 /*Drop Menu background style div When Click in genres*/
 .act, .activv{
  box-sizing: border-box;
  width: 200px;
  padding: 3px;
  height: 70px;
  position: relative;
  display: flex;
  flex-flow:column wrap;
  justify-content: space-around;
  margin: 1px;
}
/*Gen custom drop align and width*/
.dropGenCustom{
  float: left;
  width: 200px;
}

/*----------------------*/

/*sub gen decoration and custom div*/
.genSubRomance, .genSubAcao, .genSubSeinen, .genSubComedia{
  width: 60px;
  height: 25px;
}
/*sub gen decoration and custom  a*/
.genSubRomance a, .genSubAcao a, .genSubSeinen a, .genSubComedia a{
  text-decoration: none;
  width: 60px;
  height: 25px;
  color: aliceblue;
}

/*MORE ICON*/
.more, .more a{
  width: 50px;
  top: 15px;
  
  color:rgb(0, 255, 0);
}
/*---------------*/

/*subMen News when clicked*/

/*Div content external*/
.actNews, .activeNews{
  box-sizing: border-box;
  width:100%;
  padding: 5px;
  height: 100px;
  position: relative;
  display: flex;
  flex-flow:column wrap;
  justify-content: space-around;
  margin: 1px;
}
/*---------------------*/

.spoilerContent{
  background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/chizzz.jpg") no-repeat;
  height: 80px;
  width: 80px;
  background-size: 80px;
}
/*----------------------------*/

}
/*xHeader and sizing of the logoimg before pass 650px*/
@media only screen and (max-width:700px){ 
    /*Sizing header height div to fit*/
    .xHeader{
      height: 167px;
      max-width: 100%;
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      padding: 15px 0px;
      
}
.xMain{
  background-image: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/sung.jpg");
  background-color: black;
  height: 1500px;
  max-width: 100%;
  z-index: 1;
  position: relative;
  background-position: center;
  background-size:cover;
 
  
}
/*Sizing mobile logo animesgoon div to fit*/
.mainContent{
  background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/logotipo.png") no-repeat;
  height: 150px;
  width: 190px; 
  background-size: 180px;
}


/*Sizing mobile logo div to fit*/
.mainLogo{
  background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/mobileIcon.png") no-repeat;
  height: 40px;
  width: 40px;
}
/*Sizing mobile logo Search*/
.searchContentLogo{
  background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/Search.png") no-repeat;
  height: 30px;
  width: 30px;
  background-size: 25px;
  cursor: pointer;
}

/*Sizing mobile logo Search 'X' when pressed*/
.active{
background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/close.png") no-repeat;
height: 30px;
width: 30px;
background-size: 25px;
cursor: pointer;
}  

/*styling Search div input (div)*/
.searchDi{
  overflow: hidden;
  width: 100%;

 
}

/*styling Search  input (div type text where is Search your favorite anime)*/
.searchDi input[type=text]{
  color: white;
  padding: 6px;
  border: none;
  background: black;
  font-size: 17px;
  opacity: 50%;
  width: 100%;
  border-radius: 20px;

 
}

/*styling Search  input (div type button(tho not is one, is a submit) anime)*/
.searchDi input[type=submit]{
position: absolute;
right: 0px;
top:2px;
height: 33px;
width: 28px;
background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/Search.png") no-repeat;
border-radius: 5px;
border: none;
background-size: 20px;
cursor: pointer;
font-size: '0';
}

/*styling Search  input (form)*/
.searchDi form{
  width: 100%;
  position: relative;
   
}
    /*Scrollbar custom*/
/* width */
::-webkit-scrollbar {
width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background: #030101;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(49, 23, 23);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(54, 25, 25);
}
/*-----------------------------------*/

/* menu appear when pressed three bar style div*/
.menuMain{
box-sizing: border-box;
padding: 5px;
height: 30px;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
max-width: 100%;
color: white;
background-color: rgb(41, 42, 48, 1);
opacity: 95%;

}
.menuMain a, .menuMain p{
height: 20px;
color: white;
text-decoration:none;
margin: 0px;
width: 40px;
cursor: pointer;
}
/*-----------------------------*/

/*subMenu genres*/ 
/* letter X will apear alongside when clicked */
.activ, .activNews{
cursor: pointer;
background: url("G:/vitor/AREA PROGRAMAÇÃO/JavaScript Programando/Primeiro Site/Imagens/IndexSite1/close.png") no-repeat;
height: 20px;
width: 45px;
background-size: 20px;

}

/*Text typed Genre will disappear when clicked in p element for only letter X appear */
.xclose, .xcloseNews{
display: none;
}
/*---------------*/

.menuGen, .deleteTxt, .menuNews, .deleteTxtNew {
width: 45px;
}


/*Drop Menu background style div When Click in genres*/
.act, .activv{
  box-sizing: border-box;
  width: 90px;
  padding: 10px;
  height: 165px;
  position: relative;
  display: flex;
  flex-flow:column wrap;
}
.dropGenCustom{
  float: left;
  width: 90px;
}
/*----------------------*/

/*sub gen decoration and custom div*/ /*sub gen decoration and custom  a*/
.genSubRomance a, .genSubAcao a, .genSubSeinen a, .genSubComedia a{
  width: 60px;
  height: 25px;
  color: aliceblue;
  text-decoration: none;
}


/*MORE ICON*/
.more, .more a{
  width: 50px;
  color:rgb(0, 255, 0);
}
/*---------------*/

}

/*------------------------------------CUSTOM PAGE BACKGROUND // HEADER --END-- --------------------*/

/*-------------------------------------- --------------------*/

